{% assign hide_default_title = false %}
{% if currentProduct.variants.size == 1 and currentProduct.variants.first.title contains 'Default' %}
	{% assign hide_default_title = true %}
{% endif %}
<div class="options animation clearfix {% if hide_default_title %}visuallyhidden{% endif %}"> 
  {% if settings.variants_layout == 'swatches' %}
    {% for option in currentProduct.options %}
      {% if packs %}
        {% include 'swatch' with option, packs: true %}  
      {% else %}
        {% include 'swatch' with option, packs: false %}
      {% endif %}
    {% endfor %}
  {% endif %}
  
  {% if currentProduct.options.size == 1 and settings.variants_layout == 'dropdown' %}
  	<label class="single">{{ currentProduct.options }}</label>
  {% endif %}
  <select class="select-variant" id="product-select-{{ currentProduct.id }}">
    {% for variant in currentProduct.variants %}
    	<option value="{{ variant.id }}">{{ variant.title | escape }}</option>
    {% endfor %}
  </select>
  <input type="hidden" name="id" data-productid="{{ product.id }}" id="product-{{ currentProduct.id }}-variant" value="" />
  
</div>
