<style>
  /* reset styles */
  #shopify-section-{{ section.id }} .mega-menu a {padding: 0;}
  /* end reset */
  .mega-menu {display: none; position: absolute; top: 100%; left: 0; width: 100%; z-index: 1000; font-size: 1rem; text-transform: none; font-family: {{ settings.body_font }}; font-weight: {{ settings.body_font_weight }}; font-style: {{ settings.body_font_style }}; letter-spacing: {{settings.body_font_letter_spacing}};}
  .mega-menu p {margin: 0;}
  .mega-menu img {display: block; max-width: 100%;} 
  .mega-menu .mega-menu-content { display: -ms-flexbox; display: flex; display: -webkit-box; display: -webkit-flex; justify-content: center; width: 100%; margin: 0 auto; }
  .mega-menu .column {display: inline-block; width: 100%; max-width: 250px; padding: 1.5em 1.5em 3em; background: {{ settings.dropdown_bg_color }}; }
  .mega-menu .column > div {margin-bottom: 2em;}
  .mega-menu .column > div:last-child {margin: 0;}
  .mega-menu .linklist-title {font-weight: 700; font-size: 1.1em; margin-bottom: 0.5em;} 
  .mega-menu .link {line-height: 200%;}
  .mega-menu .img-caption {margin-top: 1em;}
  .mega-menu .info {margin-top: 1em; position: relative; padding-right: 6em;}
  .mega-menu .prod-title {font-weight: 700; text-align: left;}
  .mega-menu .prod-price {position: absolute; top: 0; right: 0;}
  .mega-menu .btn {margin-top: 1em;}
  
  {% if settings.mega_menu_width == "full" %}
  .header .main-content {position: static;}
  {% endif %}
  {% if settings.mega_menu_width == "container" or settings.mega_menu_width == "adjust" %}
  .mega-menu {background: transparent !important;}
  .mega-menu .mega-menu-content {max-width: {{settings.container_width}}; margin: auto;}
  {% endif %}
  {% if settings.mega_menu_width == "container" %}
  .mega-menu .mega-menu-content {background: {{ settings.dropdown_bg_color }}; justify-content: space-around;}
  {% endif %}
  {% if settings.mega_menu_position == "parent" %}
  .mega-menu {background: {{ settings.dropdown_bg_color }} !important;}
  .mega-menu {min-width: 40em; padding: 0;}
  {% else %}
  .mega-menu-trigger {position: static !important;}
  {% endif %}
</style>

<div class="submenu mega-menu">

    <div class="mega-menu-content">
      {% for block in section.blocks %}
      <div class="column text-{{block.settings.textalign}}">

        {% comment %}Richtext{% endcomment %}
        {% if block.settings.richtext_top != "" %}
        <div class="richtext">
          {{ block.settings.richtext_top }}
        </div>
        {% endif %}

        {% comment %}Image with caption and link{% endcomment %}
        {% if block.settings.image_top != nil or block.settings.image_caption_top != blank %}
        <div class="image-caption-link">
          {% if block.settings.image_link_top != blank %}<a href="{{ block.settings.image_link_top }}">{% endif %}
            {% if block.settings.image_top != nil %}
            <img src="{{ block.settings.image_top | img_url: '500x' }}" alt="{{ block.settings.image_top.alt | escape }}" />
            {% endif %}
            {% if block.settings.image_caption_top != "" %}
            <p class="img-caption">{{ block.settings.image_caption_top }}</p>
            {% endif %}
          {% if block.settings.image_link_top != blank %}</a>{% endif %}
        </div>
        {% endif %}

        {% comment %}Featured Product{% endcomment %}
        {% if block.settings.feat_prod != blank %}
        <div class="feat-prod">
          {% assign featprod = all_products[block.settings.feat_prod] %}
          <a href="{{featprod.url}}">
            <img src="{{ featprod.featured_image | product_img_url: 'large' }}" alt="{{ featprod.title | escape }}">
            <div class="info">
              <div class="prod-title">{{featprod.title}}</div>
              <div class="prod-price">{{featprod.price_min | money}}</div>
            </div>
            <div class="btn animation">BUY NOW</div>
          </a>
        </div>
        {% endif %}
        
        {% comment %}Menu 1{% endcomment %}
        {% if block.settings.menu_1 != blank %}
        <div class="column-menu">
          <div class="linklist-title">
            {% if block.settings.menu_1_link %}<a href="{{ block.settings.menu_1_link }}">{% endif %}
            	{{ linklists[block.settings.menu_1].title }}
            {% if block.settings.menu_1_link %}</a>{% endif %}
          </div>
          {% if linklists[block.settings.menu_1] != empty %}
            {% for sublink in linklists[block.settings.menu_1].links %}
              <div class="link">
                <a href="{{ sublink.url }}">{{ sublink.title }}</a>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        {% endif %}

        {% comment %}Menu 2{% endcomment %}
        {% if block.settings.menu_2 != blank %}
        <div class="column-menu">
          <div class="linklist-title">
            {% if block.settings.menu_2_link %}<a href="{{ block.settings.menu_2_link }}">{% endif %}
            	{{ linklists[block.settings.menu_2].title }}
            {% if block.settings.menu_2_link %}</a>{% endif %}
          </div>
          {% if linklists[block.settings.menu_2] != empty %}
            {% for sublink in linklists[block.settings.menu_2].links %}
              <div class="link">
                <a href="{{ sublink.url }}">{{ sublink.title }}</a>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        {% endif %}

        {% comment %}Menu 3{% endcomment %}
        {% if block.settings.menu_3 != blank %}
        <div class="column-menu">
          <div class="linklist-title">
            {% if block.settings.menu_3_link %}<a href="{{ block.settings.menu_3_link }}">{% endif %}
            	{{ linklists[block.settings.menu_3].title }}
            {% if block.settings.menu_3_link %}</a>{% endif %}
          </div>
          {% if linklists[block.settings.menu_3] != empty %}
            {% for sublink in linklists[block.settings.menu_3].links %}
              <div class="link">
                <a href="{{ sublink.url }}">{{ sublink.title }}</a>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        {% endif %}

        {% comment %}Menu 4{% endcomment %}
        {% if block.settings.menu_4 != blank %}
        <div class="column-menu">
          <div class="linklist-title">
            {% if block.settings.menu_4_link %}<a href="{{ block.settings.menu_4_link }}">{% endif %}
            	{{ linklists[block.settings.menu_4].title }}
            {% if block.settings.menu_4_link %}</a>{% endif %}
          </div>
          {% if linklists[block.settings.menu_4] != empty %}
            {% for sublink in linklists[block.settings.menu_4].links %}
              <div class="link">
                <a href="{{ sublink.url }}">{{ sublink.title }}</a>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        {% endif %}

        {% comment %}Image with caption and link{% endcomment %}
        {% if block.settings.image_bottom != nil or block.settings.image_caption_bottom != blank %}
        <div class="mega-menu__image-caption-link">
          {% if block.settings.image_link_bottom != blank %}<a href="{{ block.settings.image_link_bottom }}">{% endif %}
            {% if block.settings.image_bottom != nil %}
            <img src="{{ block.settings.image_bottom | img_url: '500x' }}" alt="{{ block.settings.image_bottom.alt | escape }}" />
            {% endif %}
            {% if block.settings.image_caption_bottom != "" %}
            <p class="img-caption">{{ block.settings.image_caption_bottom }}</p>
            {% endif %}
          {% if block.settings.image_link_bottom != blank %}</a>{% endif %}
        </div>
        {% endif %}

        {% comment %}Richtext{% endcomment %}
        {% if block.settings.richtext_bottom != "" %}
        <div class="mega-menu__richtext">
          {{ block.settings.richtext_bottom }}
        </div>
        {% endif %}

      </div>
      {% endfor %}
    </div>

</div>