{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}

{%- if packs -%}
  <style>

    #product-wrap .swatch{display: flex;}
    #product-wrap .swatch-element label{display: flex;justify-content: center;align-items: center;flex-direction: column;width: 80px;height: 80px;border-radius: 50%;border: 3px solid #fff;background: #fff;font-weight: 600;font-size: 1em;line-height: 1.1em;text-transform: capitalize;margin: 0;}
    #product-wrap .swatch-element:nth-child(2) label{margin-right: 0.8em;}
    #product-wrap .swatch input:checked+label{ color: {{settings.content_text_color}}; }
    .isNotMobile #product-wrap .swatch label:hover{border: 3px solid {{settings.content_main_color}};}
    #product-wrap .swatch .head{margin-bottom: 0.2em;font-size: 0.78em;text-transform: uppercase;font-weight: 600;}

    #product-wrap .price-per-pack{margin-left: 10%;}
    #product-wrap .price-per-pack .heading{margin-bottom: 0.2em;font-size: 0.78em;text-transform: uppercase;font-weight: 600;}
    #product-wrap .price-per-pack .pack-price{font-size: 1.115em;font-weight: 600;}

  </style>
{%- endif -%}

{% for option in currentProduct.options %}
  {% if option == swatch %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    <style>
      label[for="product-select-option-{{ option_index }}"] { display: none; }
      #product-select-option-{{ option_index }} { display: none; }
      #product-select-option-{{ option_index }} + .custom-style-select-box { display: none !important; }
    </style>
    <script>$(function() { $('.selector-wrapper:eq({{ option_index }})').hide(); });</script>
    {% assign downcased_option = swatch | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {% assign is_color = true %}
    {% endif %}
  {% endif %}
{% endfor %}


<div class="swatch clearfix" data-option-index="{{ option_index }}">
  <div>
    <div class="head">{{ swatch }}</div>
    {% assign values = '' %}
    {% for variant in currentProduct.variants %}
        {% assign value = variant.options[option_index] %}
        {% unless values contains value %}
          {% assign values = values | join: '*|*' %}
          {% assign values = values | append: '*|*' | append: value %} 
          {% assign values = values | split: '*|*' %}
          
      	<div data-value="{{ value | escape }}" class="swatch-element {% if is_color and settings.enable_color_swatches %}color {% endif %} {{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
            {% if is_color and settings.enable_color_swatches %}
            	<div class="tooltip">{{ value }}</div>
              <input id="swatch-{{ currentProduct.id }}-{{ option_index }}-{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} {% comment %}{% unless variant.available %}disabled{% endunless %}{% endcomment %} />
              <label class="animation color" for="swatch-{{ currentProduct.id }}-{{ option_index }}-{{ value | handle }}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | file_url }});">
                <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />
              </label>
            {% else %}
              <input id="swatch-{{ currentProduct.id }}-{{ option_index }}-{{ value | handle }}-{{ currentProduct.id }}-{{ sufix }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}" {% comment %}{% unless variant.available %}disabled{% endunless %}{% endcomment %} {% if packs %}data-pack-qty="{{ value | escape | split: " " | first }}"{% endif %} />
              <label class="animation" for="swatch-{{ currentProduct.id }}-{{ option_index }}-{{ value | handle }}-{{ currentProduct.id }}-{{ sufix }}">
                {%- if packs -%}
                  <span>{{ value | split: " " | first }}</span>
                  <span>{{ value | split: " " | last }}</span>
                {%- else -%}
                  {{ value }}
                {%- endif -%}
                <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />
              </label>
            {% endif %}
          </div>
        {% endunless %}
    {% endfor %}
  </div>
  {%- if packs -%}
    <div class="price-per-pack">
      <div class="heading">PRICE PER PACK</div>
      <p class="pack-price">$<span></span> per pack</p>
    </div>
  {%- endif -%}
</div>