{% schema %}
  {
    "name": "Featured Products Article",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Choose Your Cure"
      },
	    {
        "type": "color",
        "id": "section_bg",
        "label": "Background Color",
        "default": "#ffffff"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Select The Collection"
      },
      {
        "type": "select",
        "id": "featured_products_row",
        "label": "Items per row",
        "options": [
          {
            "value": "2",
            "label": "2 items per row"
          },
          {
            "value": "3",
            "label": "3 items per row"
          },
          {
            "value": "4",
            "label": "4 items per row"
          },
          {
            "value": "5",
            "label": "5 items per row"
          },
          {
            "value": "6",
            "label": "6 items per row"
          }
        ],
		"default": "4"
      }
    ]
  }
{% endschema %}

<style>
  .section-featured {text-align: center;margin-top: 3em;}
  .section-featured .container {padding: 0 30px;}
  .section-featured h2 {text-align: left;text-transform: capitalize;margin-bottom: 0.5em;}
  .section-featured .slick-arrow {top: 39%;}
  @media all and (max-width: 600px) {
    .section-featured h2{text-align: center;margin-bottom: 0;}
  }
</style>

{% assign col = collections[section.settings.collection] %}
<section class="section-featured" style="background: {{section.settings.section_bg}};">
  <div class="container">
    {% if section.settings.title != "" %}<h2><a href="{{col.url}}">{{section.settings.title}}</a></h2>{% endif %}
    {% if col.products.length > 0%}
    <div class="product-carousel slick-pending">
      {% for prod in col.products limit:10 %}
      {% if prod.available %}
        {%- unless prod.tags contains 'hide' -%}
          {% include 'product_item', currentProduct: prod, quickview: settings.allow_quick_view, isCarousel: true, imageSize: '323x400'  %}
        {%- endunless -%}
      {% endif %}
      {% endfor %}
    </div>
    {% else %}
    <p>No products found in this collection</p>
    {% endif %}
  </div>
</section>

<script>
  $(function(){
  	var runSlick = function(){
      $('#shopify-section-{{ section.id }} .section-featured .product-carousel').slick({
          autoplay: true,
          speed: 700,
          pauseOnHover: false,
          slidesToShow: {{section.settings.featured_products_row}},
          slidesToScroll: {{section.settings.featured_products_row}},
          prevArrow: '<i class="lnr lnr-chevron-left left-arrow animation"></i>',
          nextArrow: '<i class="lnr lnr-chevron-right right-arrow animation"></i>',
          responsive: [
            {
                breakpoint: 800,
                settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1,
                }
            },
            {
                breakpoint: 1120,
                settings: {
                  slidesToShow: 2,
                  slidesToScroll: 2,
                }
            }
          ]
        });
  		};
  	if ($('body').hasClass('templateIndex')) {
	    if ($(window).width() > 600 ) {
	    	runSlick();
    	}
  	}else{
  		runSlick();
  	}
  });
</script>