<style>
  #shopify-section-{{section.id}}{margin-top: 2em;}
  #shopify-section-{{section.id}} .container{text-align: center;}
  #shopify-section-{{section.id}} h2{margin-bottom: 0.7em;font-size: 1.2em;letter-spacing: normal;}
  #shopify-section-{{section.id}} .btn{text-decoration: none;font-size: 1.1em;padding: 0.9em 4em;}

  @media all and (max-width: 600px){
    #shopify-section-{{section.id}} h2{font-size: 0.8em}
    #shopify-section-{{section.id}} .btn{padding: 0.7em 2em;font-size: 1em;}
  }
</style>

<div class="container">
  <h2>{{section.settings.title}}</h2>
  <a href="{{section.settings.button_url}}" class="btn" target="_blank">{{section.settings.button_label}}</a>
</div>

{% schema %}
{
   "name":"CTA",
   "tag": "section",
   "class": "page-ambassador-cta",
   "settings":[
      {
         "type":"text",
         "id":"title",
         "label":"Title",
         "default":"WHAT ARE YOU WAITING FOR?"
      },
      {
        "type":"url",
        "id":"button_url",
        "label":"Button URL",
        "info":"Paste or search."
      },
      {
        "type":"text",
        "id":"button_label",
        "label":"Button Label",
        "default":"JOIN US!"
      }
   ]
}
{% endschema %}