{% schema %}
  {
    "name": "Text + Icons",
  "presets": [
      { 
        "name": "Text + Icons",
        "category": "Home"
      }
  ],
    "settings": [
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "image_picker",
        "id": "background",
        "label": "Background Image"
      },
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "textarea",
        "id": "main_text",
        "label": "Main Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et sapien interdum, accumsan leo id, eleifend nisi. Donec at libero ligula."
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#fff"
      },
      {
        "type": "header",
        "content": "Icons"
      },
      {
        "type": "image_picker",
        "id": "icon_1",
        "label": "First Icon"
      },
      {
        "type": "text",
        "id": "text_1",
        "label": "First Icon Text"
      },
      {
        "type": "image_picker",
        "id": "icon_2",
        "label": "Second Icon"
      },
      {
        "type": "text",
        "id": "text_2",
        "label": "Second Icon Text"
      },
      {
        "type": "image_picker",
        "id": "icon_3",
        "label": "Third Icon"
      },
      {
        "type": "text",
        "id": "text_3",
        "label": "Third Icon Text"
      },
      {
        "type": "image_picker",
        "id": "icon_4",
        "label": "Fourth Icon"
      },
      {
        "type": "text",
        "id": "text_4",
        "label": "Fourth Icon Text"
      }
  ]
  }
{% endschema %}

<style>
  #home section.text-icons-section{padding: 0;}
  .text-icons-section .content{ {% if section.settings.background %} background-image: url({{section.settings.background | img_url: 'master'}});background-size: cover;background-position: center;background-repeat: no-repeat;{% endif %}padding: 5.25em 3em;max-width: 100%;margin: auto;}
  .text-icons-section p{color: {{section.settings.text_color}};}
  .text-icons-section .icon-and-text {justify-content: center;align-items: center;}
  .text-icons-section .text p{font-size: 2.2em;font-weight: 600;letter-spacing: -2px;margin-bottom: 10px;line-height: 55px;}
  .text-icons-section .icon-and-text .image-container{height: 90px;margin: 0 auto 1.5em;justify-content: center;align-items: center;}
  .text-icons-section .icon-and-text img {max-width: 100%;}
  .text-icons-section .icon-and-text p{font-family: 'GT Pressura Mono',sans-serif;line-height: 22px;}

  @media all and (min-width: 900px){
    .text-icons-section .text p{max-width: 400px;}
  }
  @media all and (max-width: 900px){
    .text-icons-section .text p br{display:none}
  }  
</style>

<section class="text-icons-section">
  <div class="container-big">
    <div class="content grid">
      <div class="text grid__item four-tenths medium-down--one-whole flex">
        <p>{{section.settings.main_text}}</p>
      </div>
      <div class="icons grid grid__item six-tenths medium-down--one-whole">
        <div class="grid__item icon-and-text one-quarter medium-down--one-half text-center flex">
          <div class="icon-and-text-container">
            <div class="image-container flex">
              <img class="lazyload" data-sizes="auto" data-srcset="{% include 'lazy_src', image: section.settings.icon_1 %}" alt="cure hydration icon">
            </div>
            <p>{{section.settings.text_1}}</p>
          </div>
        </div>
        <div class="grid__item icon-and-text one-quarter medium-down--one-half text-center flex">
          <div class="icon-and-text-container">
            <div class="image-container flex">
              <img class="lazyload" data-sizes="auto" data-srcset="{% include 'lazy_src', image: section.settings.icon_2 %}" alt="cure hydration icon">
            </div>
            <p>{{section.settings.text_2}}</p>
          </div>
        </div>
        <div class="grid__item icon-and-text one-quarter medium-down--one-half text-center flex">
          <div class="icon-and-text-container">
            <div class="image-container flex">
              <img class="lazyload" data-sizes="auto" data-srcset="{% include 'lazy_src', image: section.settings.icon_3 %}" alt="cure hydration icon">
            </div>
            <p>{{section.settings.text_3}}</p>
          </div>
        </div>
        <div class="grid__item icon-and-text one-quarter medium-down--one-half text-center flex">
          <div class="icon-and-text-container">
            <div class="image-container flex">
              <img class="lazyload" data-sizes="auto" data-srcset="{% include 'lazy_src', image: section.settings.icon_4 %}" alt="cure hydration icon">
            </div>
            <p>{{section.settings.text_4}}</p>
          </div>
        </div>
      </div>    
    </div>  
  </div>
</section>
