<style>
  #shopify-section-{{section.id}} { {% if section.settings.bg_img %} background-image: url({{section.settings.bg_img | img_url: 'master'}});background-size: cover;background-position: center;background-repeat: no-repeat;{% endif %}padding:1em;}
	
	#shopify-section-{{section.id}} .us-vs-them-section{background-color: transparent; margin: auto;}

	#shopify-section-{{section.id}} .title-container{text-align: left;border-bottom: 1px solid #eef2fe;padding-bottom: 0.5em;margin-bottom: 2em;}
	#shopify-section-{{section.id}} .title-container img{width: 335px;max-width: 90%;}

	#shopify-section-{{section.id}} .image-container{white-space: nowrap;overflow-x: scroll;}
  #shopify-section-{{section.id}} ::-webkit-scrollbar {width: 8px;}
  #shopify-section-{{section.id}} ::-webkit-scrollbar-track {background: {{settings.content_main_color}};}
  #shopify-section-{{section.id}} ::-webkit-scrollbar-thumb {background: #B7C6F9;border-radius: 6px;}
  #shopify-section-{{section.id}} ::-webkit-scrollbar-thumb:hover {background: #B7C6F9;}
	#shopify-section-{{section.id}} .image-container img{width: 1160px;}
	
  @media all and (max-width: 600px){
		#shopify-section-{{section.id}} .us-vs-them-section{padding: 2em 1em 3em;}
  }
</style>

<section class="us-vs-them-section">
	<div class="title-container">
		<img class="lazyload" data-sizes="auto" data-srcset="{% include 'lazy_src', image: section.settings.title_image %}" alt="{{section.settings.title_image.alt}}">
	</div>
	<div class="image-container">
      {% if product != blank %}
         {% assign image_url = product.metafields.custom_fields["us_vs_them_chart_image_url"] %}
      {% else %}
         {% assign image_url = section.settings.custom_chart_image | img_url: 'master' %}
      {% endif %}
		<img class="lazyload" data-sizes="auto" data-srcset="{% include 'lazy_src', image: section.settings.custom_chart_image %}" alt="Us vs Them Chart">
	</div>
</section>

{% schema %}
{
   "name":"Us vs Them Image",
   "presets":[
      {
         "name":"us_vs_them_img"
      }
   ],
   "settings":[
      {
         "type":"header",
         "content":"General Settings"
      },
      {
	       "type":"image_picker",
	       "id":"title_image",
	       "label":"Title Image"
      },
      {
	       "type":"image_picker",
	       "id":"bg_img",
	       "label":"Background Image"
      },
      {
         "type": "image_picker",
         "id": "custom_chart_image",
         "label": "Custom Chart Image",
         "info": "Use this image if it's outside of the PDP"
      }
   ]
}
{% endschema %}