<style>
  #shopify-section-{{section.id}}{padding: 0;{% if section.settings.background %} background-image: url({{section.settings.background | img_url: 'master'}});background-size: cover;background-position: center;background-repeat: no-repeat;{% endif %}}
  #shopify-section-{{section.id}} .container-big{max-width: 1100px;}
  #shopify-section-{{section.id}} .content{ padding: 4em 0 3em;max-width: 100%;margin: auto;}
  #shopify-section-{{section.id}} p{color: {{section.settings.text_color}};}
  #shopify-section-{{section.id}} .icons{justify-content: center;}
  #shopify-section-{{section.id}} .icon-and-text {justify-content: center;align-items: center;margin-left: 1em;}
  #shopify-section-{{section.id}} .icon-and-text:first-child{margin-left: 0;}
  #shopify-section-{{section.id}} .text{align-items: center;}
  #shopify-section-{{section.id}} .text p{font-size: 2.2em;font-weight: 600;letter-spacing: -2px;margin-bottom: 10px;line-height: 55px;letter-spacing: 1.8px;font-size: 1em;}
  #shopify-section-{{section.id}} .icon-and-text .image-container{margin: 0 auto 1.5em;justify-content: center;align-items: center;}
  #shopify-section-{{section.id}} .icon-and-text img {max-width: 145px;}
  #shopify-section-{{section.id}} .icon-and-text p{font-family: 'GT Pressura Mono',sans-serif;line-height: 22px;}

  @media all and (min-width: 900px){
    #shopify-section-{{section.id}} .text p{max-width: 400px;}
  }
  @media all and (max-width: 1088px){
    #shopify-section-{{section.id}} .icon-and-text{width: 50%;margin-left: 0;margin-bottom: 1em;}
  } 
  @media all and (max-width: 900px){
    #shopify-section-{{section.id}} .text p br{display:none}
  }
  @media all and (max-width: 397px){
    #shopify-section-{{section.id}} .icon-and-text p{min-height: 3.5em;}
  }
  @media all and (max-width: 355px){
    #shopify-section-{{section.id}} .icon-and-text img {max-width: 100%;}
  }
</style>

<section class="text-icons-section-pdp">
  <div class="container-big">
    <div class="content grid">
      <div class="text grid__item three-tenths medium-down--one-whole flex">
        <p>{{section.settings.main_text}}</p>
      </div>
      <div class="icons grid grid__item seven-tenths medium-down--one-whole">
        {%- if product.metafields.custom_fields["wtt_wake-up"] == 1 -%}
          <div class="grid__item icon-and-text text-center flex">
            <div class="icon-and-text-container">
              <div class="image-container flex">
                <img src="{{'wtt_wake-up.png' | file_img_url: 'master'}}" alt="alarm clock">
              </div>
              <p>Early morning<br>wake-up call</p>
            </div>
          </div>
        {%- endif -%}
        {%- if product.metafields.custom_fields["wtt_before-start"] == 1 -%}
          <div class="grid__item icon-and-text text-center flex">
            <div class="icon-and-text-container">
              <div class="image-container flex">
                <img src="{{'wtt_before-start.png' | file_img_url: 'master'}}" alt="alarm clock">
              </div>
              <p>Before you start<br>your day</p>
            </div>
          </div>
        {%- endif -%}
        {%- if product.metafields.custom_fields["wtt_workout"] == 1 -%}
          <div class="grid__item icon-and-text text-center flex">
            <div class="icon-and-text-container">
              <div class="image-container flex">
                <img src="{{'wtt_workout.png' | file_img_url: 'master'}}" alt="dumbell">
              </div>
              <p>Workout boost</p>
            </div>
          </div>
        {%- endif -%}
        {%- if product.metafields.custom_fields["wtt_late-afternoon"] == 1 -%}
          <div class="grid__item icon-and-text text-center flex">
            <div class="icon-and-text-container">
              <div class="image-container flex">
                <img src="{{'wtt_late-afternoon.png' | file_img_url: 'master'}}" alt="late afternoon">
              </div>
              <p>Late afternoon<br>haze</p>
            </div>
          </div>
        {%- endif -%}
        {%- if product.metafields.custom_fields["wtt_staying-up"] == 1 -%}
          <div class="grid__item icon-and-text text-center flex">
            <div class="icon-and-text-container">
              <div class="image-container flex">
                <img src="{{'wtt_staying-up.png' | file_img_url: 'master'}}" alt="dancing">
              </div>
              <p>Staying up<br>past curfew</p>
            </div>
          </div>
        {%- endif -%}
        {%- if product.metafields.custom_fields["wtt_after-party"] == 1 -%}
          <div class="grid__item icon-and-text text-center flex">
            <div class="icon-and-text-container">
              <div class="image-container flex">
                <img src="{{'wtt_after-party.png' | file_img_url: 'master'}}" alt="dancing">
              </div>
              <p>After the<br>after-party</p>
            </div>
          </div>
        {%- endif -%}
      </div>    
    </div>  
  </div>
</section>

<script>
  $(function(){
    // make all the <p> have the same height
    var max_height = 0;
    $('.text-icons-section-pdp .icon-and-text-container p').each(function() {
      var elementHeight = $(this).height();
      if (elementHeight > max_height) {
        max_height = elementHeight;
      }  
    });
    $('.text-icons-section-pdp .icon-and-text-container p').height(max_height);
  });
</script>

{% schema %}
  {
    "name": "When To Take",
    "settings": [
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "image_picker",
        "id": "background",
        "label": "Background Image"
      },
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "textarea",
        "id": "main_text",
        "label": "Main Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et sapien interdum, accumsan leo id, eleifend nisi. Donec at libero ligula."
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#fff"
      }
  ]
  }
{% endschema %}